#logo img{
    width: 150px; 
    height: auto;
}

header{
    display: flex;
}
#tablas{
    display: flex;
    gap: 20px;
}

.tabla {
    max-height: 500px;
    width: 30%;
    overflow-y: auto; 
}

.tabla table {
    width: 100%;
    border-collapse: collapse;
}